//colors
$pink-color: #ff5678;
$black-color: #000000;
$dgrey-color: #4d4d4d;
$lgrey-color: #999999;
$white-color: #ffffff;

//fontfamily
$font: "Work Sans", sans-serif;

//fontsizes
$logo: 48px;
$heading1: 45px;
$heading2: 35px;
$paragraph1: 25px;
$paragraph2: 24px;
$paragraph3: 22px;
$paragraph4: 20px;
$paragraph5: 18px;
$paragraph6: 33px;

//line height
$height1: 55px;
$height2: 45px;
$height3: 40px;
$height4: 35px;
